.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:60px;
}
.projects h2 {
    font-size: 30px;
    margin-bottom: 20px;
}
.projects p {
    font-size: 20px;
    margin-bottom: 40px;
}

@media screen and (max-width: 550px) {
    .projects {
        margin-top:30px;
    }
    .projects h2 {
        font-size:24px;
    }
    .projects p {
        font-size:16px;
        margin-bottom: 20px;
    }
}