* {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
}
#root {
  margin: 0 auto;
}
body,
li {
  font-family: "Libertinus sans", sans-serif;
  font-weight: 400;
  color: #1a1a1a;
  width: 100%;
}
p {
  font-family: "Libertinus sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #1a1a1a;
}
h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #1a1a1a;
}
a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
body {
  background-color: rgba(255, 236, 204, 0.8);
}
html {
  scroll-behavior: smooth;
}