.about-container {
  display: flex;
}
.about {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.about-photo {
  width: 40%;
  height: 30%;
  margin-right: 20px;
  border-radius: 10px;
}
.about h2 {
  font-size: 30px;
  margin-bottom: 40px;
  margin-top: 60px;
}
.about-container p {
  font-size: 20px;
}
