.card-container {
    display: flex; 
    flex-wrap: wrap;
    gap: 60px;
    margin: 40px 40px 60px 40px;
}
.card {
    background-color: rgb(255, 250, 238);
    padding:30px;
    border-radius: 10px;
    width:400px;
    height:400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
.card img {
    width:80%;
    height: 22%;
}
.card h3 {
    font-size: 22px;
    margin-bottom: 15px;
}
.card p {
    font-size: 18px;
}
.card-container a {
    text-decoration: none;
    color: inherit;
}
@media screen and (max-width: 768px) {
    .card-container {
        justify-content: center; 
    }
}   

@media screen and (max-width: 550px) {
    .card-container {
        flex-direction: column; 
        gap:30px;
        margin: 30px 0;
    }
    .card {
        width: 80%;
        height: 275px;
        margin: 0 auto;
    }
    .card img {
        width:70%;
    }
    .card h3 {
        font-size: 18px;
        margin-bottom:10px;
    }
    .card p {
        font-size: 16px;
    }
}