.footer {
  padding: 20px;
  text-align: center;
  background-color: #1a1a1a;
}
.footer p {
  color: white;
}

.footer-linkedin {
  width: 30px;
  height: 30px;
}

.footer-github {
  width: 30px;
  height: 30px;
}
