.project-detail {
  display: grid;
  grid-template-columns: 200px 1fr; 
  gap: 30px;
  align-items: start;
  margin: 50px 20px 0 40px;
}

.project-detail h2 {
  grid-column: 1; 
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.project-detail p, .project-detail ul {
  grid-column: 2; 
  margin: 0;
  padding-left: 18px; 
}

.project-detail p, .project-detail li {
    font-size: 18px;
    line-height: 1.6;
}

@media screen and (max-width:550px) {
    .project-detail {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap:15px;
    margin-top:30px;
    }
    .project-detail h2 {
        font-size:20px;
    }
    .project-detail p, .project-detail li {
        font-size: 16px;
    }
}