.projects-header {
    text-align:center;
    display:flex;
    flex-direction:column;
    gap:25px;
    margin-top:20px;
    align-items: center;
}
.projects-header img {
    width:200px;
    height:auto;
}
.project-link {
    display: flex; 
    margin-left: 40px; 
    margin-bottom: 60px;
    align-items: center;
}
.project-link h2 {
    font-size: 24px;
    font-weight: 600;
}
.project-link a {
    font-size: 18px;
    color: #1a0dab; 
    text-decoration: none;
    margin-left: 20px;
}

@media screen and (max-width: 550px) {
    .projects-header {
        margin-top:10px;
        gap:10px;
    }
    .projects-header h1 {
        font-size:24px;
    }
    .projects-header img {
        width:150px;
    }
    .project-link {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 10px;
        margin-bottom: 30px;
    }
    .project-link h2 {
        font-size:20px;
    }
    .project-link a {
        font-size:16px;
        margin-left:0;
    }
}